.Topbar {
  font-family: 'Brush Script MT', cursive;
  font-size: 40px;
  background: blanchedalmond;
}

.Parent{display: inline-flex;
}
.Let {
  font-family: "Quicksand";
  font-size: 25px;
  padding-right: 5px
}

.Health {
  font-family: 'Shadow Into Light';
  font-size: 25px
}